body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  zoom: 75%;
}



/* Modificação para o cabeçalho */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}



button {
  background-color: #2196F3; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 250px;
  margin-top: 5px;

}


.titleexe {
  font-size: 20px;
  color: #000000;
  margin-top: 1px;
}


a {
  color: rgba(128, 255, 0, 0);
}

.posimg {

top: 0%;

}

.titletip {

margin-top: -9px;
margin-bottom: -10px;
}

.titletip2 {

margin-top: 8px;
margin-bottom: 1px;
}

.bloco {

  align-items: center;

}